# Base config
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100

AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AlignArrayOfStructures: None
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true

AlignOperands: AlignAfterOperator

AlignAfterOpenBracket: true
Cpp11BracedListStyle: true
ObjCBreakBeforeNestedBlockParam: true

# Preprocessor
SortIncludes: true
IncludeBlocks: Regroup
IndentPPDirectives: AfterHash

# Classes
AccessModifierOffset: -4
IndentAccessModifiers: false

# Namespaces
NamespaceIndentation: None