[submodule "ext/glfw"]
	path = extern/glfw
	url = git@github.com:glfw/glfw.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "extern/yaml"]
	path = extern/yaml
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "extern/glm"]
	path = extern/glm
	url = git@github.com:g-truc/glm.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = git@github.com:glfw/glfw.git
[submodule "extern/imgui/imgui"]
	path = extern/imgui/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "extern/assimp"]
	path = extern/assimp
	url = git@github.com:assimp/assimp.git
[submodule "extern/tracy"]
	path = extern/tracy
	url = https://github.com/wolfpld/tracy
[submodule "extern/sol2"]
	path = extern/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "extern/lua"]
	path = extern/lua
	url = https://gitlab.com/codelibre/lua/lua-cmake.git
